@model AspNetCoreMvc2.Introduction.Models.EmployeeAddViewModel;
  



    <form asp-controller="Employee" asp-action="Add">
        Id :<input asp-for="Employee.Id" /><br />
        First Name :<input asp-for="Employee.FirstName" /><br />
        Last Name :<input asp-for="Employee.LastName" /><br />
        City :<select asp-for="Employee.CityId" asp-items="Model.Cities"></select><br />
        <button type="submit">Add</button>
    </form>
    <br />
    <employee-list count="2"></employee-list>

@section MySection{ 
    Some Content
}